.menu {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    width: 100%;
    margin: 0 auto;
    list-style: none;
    background-color: #0e2750;
}

.menu a {
    width: 140px;
    height: 50px;
    text-align: center;
    font-size: 22px;
    color: #777;
    text-decoration: none;
}

.menu a:hover{
    color: white;
}

menu .item {
    align-items: center;
}