@import url('https://fonts.googleapis.com/css2?family=Viaoda+Libre&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Timmana&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter&display=swap');

body {
    background-color: #f5f5f5;
}

h1 {
    text-align: center;
    margin-bottom: 6vh;
    margin-top: 3vh;
    font-family: 'Viaoda Libre', cursive;
}

/* ----- CSS Home ----- */

.home-presentation {
    font-family: 'Bitter', serif;
    font-size: 20px;
}

.title-presentation {
    text-align: center;
    margin-bottom: 3vh;
}

.les-apis {
    display: flex;
    justify-content: space-around;
    margin-top: 6vh;
}

.les-apis h2 {
    text-align: center;
}

.les-apis button{
    background-color: #3f51b5;
    padding: 10px 15px;
    border-radius: 5px;
    outline: 0;
    text-transform: uppercase;
    margin: 10px 20px;
    cursor: pointer;
    box-shadow: 0px 2px 2px lightgray;
    transition: ease background-color 250ms;
    float: right;
}

.les-apis button:hover {
    background-color: #283593;
}

.les-apis button:disabled {
    cursor: default;
    opacity: 0.7;
}

.les-apis a {
    text-decoration: none;
    color: white;
}

.les-apis p {
    width: 40vw;
    font-size: 17px;
    margin: 4vh 2vh 2vh 2vh;
}

.les-apis li {
    width: 40vw;
    font-size: 17px;
    list-style: none;
    margin: 2vh;
    color: #3f51b5;
    font-weight: bold;
}

.presentation-api-countries {
    box-shadow: 2px 2px 5px #474747;
    border-radius: 1vh;
}

.presentation-api-countries button {
    margin-top: 6vh;
}

.presentation-api-news {
    box-shadow: 2px 2px 5px #474747;
    border-radius: 1vh;
}

.presentation-api-news button {
    margin-top: 5vh;
}


/* ----- CSS Countries ----- */

.data-countries-container {
    display: flex;
    flex-wrap: wrap;
}

.data-countries {
    margin: 20px;
}

.data-countries img {
    height: 100px;
    width: 160px;
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.data-countries p {
    text-align: center;
    font-weight: bold;
}

/* ----- CC Region Countries ----- */

.pays-capital {
    color: grey;
    font-style: italic;
}

/* ----- CSS News ----- */

.news-h1-image {
    margin-top: 2vh;
    display: flex;
    justify-content: center;
}

.news-image {
    width: 150px;
    height: 100px;
}

.data-news-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.data-news {
    width: 40vw;
    margin: 5vh;
    border-radius: 10px;
    box-shadow: 2px 2px 5px #474747;
    background-color: #F1F1F1;
    padding: 2vh 2vh 0 2vh;
}

.data-news h2 {
    color: black;
    text-align: center;
}

.data-news-details p {
    font-family: 'Inconsolata', monospace;
}

.news-description {
    font-style: italic;
    font-size: 20px;
}

.news-country {
    font-weight: bold;
}

.news-site {
    color: grey;
    font-weight: bold;
}

.data-news img {
    float: right;
}

.news-link img {
    width: 70px;
    height: 70px;
}

/* ----- CSS Headline News ----- */

.news-headline {
    font-family: 'Inconsolata', monospace;
    width: 40vw;
    margin: 5vh;
    border-radius: 10px;
    box-shadow: 2px 2px 5px #474747;
    padding: 2vh 2vh 0 2vh;
}

.news-headline h2 {
    text-align: center;
}

.news-headline-title {
    font-weight: bold;
    text-align: center;
}

.news-headline-description {
    font-style: italic;
    color: grey;
    font-size: 20px;
}

.news-headline img {
    float: right;
}

/* ----- CSS Categorie News ----- */

.news-category {
    font-weight: bold;
}


/* ----- CSS Correspondance ----- */

.images-correspondance {
    display: flex;
    justify-content: space-around;
}

.news-correspondance {
    width: 150px;
    height: 100px;
    margin-top: 6vh;
}

.world-correspondance {
    width: 200px;
    height: 150px;
}

.container-correspondance {
    display: flex;
    justify-content: center;
    align-items: center;
}

.data-news-correspondance {
    width: 40vw;
    margin: 5vh;
    border-radius: 10px;
    box-shadow: 2px 2px 5px #474747;
    background-color: #F1F1F1;
    padding: 2vh 2vh 2vh 2vh;
}

.data-news-correspondance h2 {
    color: white;
    text-align: center;
    background-color: #929292;
}

.data-news-correspondance img {
    float: right;
}

.correspondance-countries img {
    height: 160px;
    width: 240px;
    border-radius: 10px;
}

.correspondance-countries p {
    font-weight: bold;
    text-align: center;
}